<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <walkthechat_settings>
            <sync>
                <order_sync_active>1</order_sync_active>
            </sync>
        </walkthechat_settings>
    </default>
</config>
